* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Handlee", cursive;
}

/* header */

body {
  /* background: black !important; */
  background: url("space.jpg");
  background-size: cover no-repeat;

  color: white;
  height: 100vh;
}

header {
  margin-bottom: 0;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  opacity: 85%;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
  transition: 3s;
  z-index: 3;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: blue;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

.hamburger {
  cursor: pointer;
  z-index: 6;
  display: block;
}

.confirm {
  display: flex;
  white-space: nowrap;
}

.nav-menu {
  position: fixed;
  top: 0;
  visibility: hidden;
  right: 0px;
  gap: 0;
  flex-direction: column;
  background-color: black;
  width: 100%;
  text-align: center;
  transition: 1.6s;
  opacity: 0%;
  z-index: 5;
  color: white;
}

.nav-item {
  margin: 16px 0;
}

.nav-menu.active {
  opacity: 98%;
  visibility: visible;
  transition: 1.6s;
}

/*logo change color */
.nav-branding.active {
  color: red;
  transition: 2.5s;
}

/* prediction place */
/* 


/* cards to slowly fade in */

.img-appear {
  opacity: 20%;
  transition: 2s;
}

.img-appear.active {
  opacity: 100%;
  transition: 2s;
}

/* #cards {
  margin-top: 1000px;
} */
* #prediction {
  margin-top: 90px;
  padding-bottom: 3rem;
}

#deck {
  /* margin-top: 1000px; */

  cursor: pointer;
  height: 40vh;
  width: 30vh;
  transition: 1s;
}

#cards img {
  cursor: pointer;
  height: 37vh;
  width: 28vh;
  margin: 50px 23px 0 23px;
}

/* black screens */

.content {
  opacity: 0;
  animation: fade-in 0.5s ease-in;
  animation-fill-mode: forwards;
}

/* after prediction */

.text-after-prediction {
  margin-top: 2rem;
  color: white;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  opacity: 0;
}

#yes-tarot {
  margin: 0 50px;
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: rgb(135, 30, 30);
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

#no-tarot {
  margin: 0 50px;
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #2b3b5c;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

/* numerology */

#numerology {
  margin-top: 5rem;
  padding-bottom: 2rem;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.379);
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.307);
}

.show {
  visibility: visible !important;
}

#numerology-table {
  padding: 3rem 4rem 0 4rem;
  width: 70%;
  font-size: 2em;
  color: white;
  max-height: 20%;
  margin: auto;
}

.numerology-name-field {
  /* padding: 4rem; */
  margin-bottom: 3rem;
  margin-top: 1.5em;
  display: grid;

  grid-template-columns: 50% 25% 25%;
  justify-items: center;
  align-items: center;
  /* grid-template-columns: repeat(auto-fill, 100vh); */
}

.numerology-result {
  color: white;
  font-size: 1.8rem;
}

#numerology-table-name {
  width: 95%;
  font-size: 2rem;
  color: white;
  text-align: center;
  max-height: 14px;
  align-items: center;
}

.big-number {
  font-size: 1.4rem;
  color: #ffffff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #d9d9d9;
  text-align: center;
  font-weight: bold;
  border-radius: 100px;
  background: #ac2024;
  padding: 3px 11px;
}

#numerology-table-name td {
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

.center-bold {
  text-align: center;
}

#numerology-question {
  margin-top: 10px;
  color: white;
  font-size: 4rem;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-after-question {
  color: white;
  font-size: 2.5rem;
  opacity: 0;
  margin-left: 60%;
  margin-bottom: 25px;
}

#btn-main {
  padding: 0.5rem;
  animation: painting-red 4s infinite ease;
  font-size: 2.8rem;
}

/* colors */

.red {
  background: #b21c21;
}

.gold {
  background: goldenrod;
}

.green {
  background: rgb(36, 120, 36);
}

.orange {
  background: orangered;
}

.blue {
  background: rgb(66, 66, 165);
}

/* animations */

.white {
  animation: fade-in 1s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.black {
  animation: fade-out 2.5s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes painting-red {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: white;
  }
}

/* adaptations */

@media (max-width: 768px) {
  #cards img {
    height: 20vh;
    width: 15vh;
  }

  .content {
    height: 90vh;
  }

  .numerology-name-field {
    flex-direction: column;
  }

  @media (max-width: 480px) {
    #cards img {
      height: 17vh;
      width: 11.5vh;
      margin: 10px;
    }

    .nav-menu {
      width: 100%;
    }

    #numerology-result {
      display: flex;
      flex-direction: column;
    }
  }
}
