* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Handlee", cursive;
}

/* header */

body {
  background: url("space.jpg");
  background-size: cover no-repeat;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  color: white;
}

.content {
  width: 100vw;
}

header {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  opacity: 85%;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  max-width: 90%;
  font-size: 3rem;
  transition: 3s;
  z-index: 3;
  white-space: nowrap;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: blue;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

.hamburger {
  cursor: pointer;
  z-index: 6;
  display: block;
}

.confirm {
  display: flex;

  padding: 1rem;
}

.confirm-end {
  display: flex;

  opacity: 0;
}

.nav-menu {
  position: fixed;
  top: 60px;
  visibility: hidden;

  flex-direction: column;
  background-color: black;
  width: 100%;
  text-align: center;
  transition: 1.6s;
  opacity: 0%;
  z-index: 5;
  color: white;
}

.nav-item {
  margin: 16px 0;
}

.nav-menu.active {
  opacity: 98%;
  visibility: visible;
  transition: 1.6s;
}

/*logo change color */
.nav-branding.active {
  color: red;
  transition: 2.5s;
}

/* prediction place */

/* cards to slowly fade in */

.img-appear {
  opacity: 20%;
  transition: 2s;
}

.img-appear.active {
  opacity: 100%;
  transition: 2s;
}

#push {
  animation: painting-red 4s infinite ease;
  margin: auto;
  font-size: 2em;
  display: flex;
  text-align: center;
  justify-content: center;
}

#cards {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

#prediction {
  margin-top: 90px;
  padding-bottom: 3rem;
}

#deck {
  cursor: pointer;
  height: 40vh;
  width: 30vh;
  transition: 1s;
}

#cards img {
  height: 37vh;
  width: 28vh;
  margin: 50px 25px 0 25px;
}

/* black screens */

.content {
  opacity: 0;
  animation: fade-in 0.5s ease-in;
  animation-fill-mode: forwards;
}

/* after prediction */

.text-after-prediction {
  margin-top: 2rem;
  color: white;
  font-size: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  opacity: 0;
}

.yes-btn {
  margin: 0 50px;
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: rgb(135, 30, 30);
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.no-btn {
  margin: 0 50px;
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #2b3b5c;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

/* numerology */

#numerology {
  display: none;
}

.show {
  display: block !important;
  width: 100vw !important;
}

.carousel-slide {
  display: flex;
  width: 100%;
  /* height: 40vh; */
  max-height: 40vh;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

/* .carousel-slide img {

} */

.img-supernatural {
  position: relative;
  width: 20vw;
  height: 100%;
}

.numerology-name-field {
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  justify-items: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.247);
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.381);
  /* grid-template-columns: repeat(auto-fill, 100vh); */
}

.numerology-result {
  color: white;
  font-size: 3vh;
}

#table-link {
  cursor: pointer;
}

#numerology-table-name {
  width: 95%;
  font-size: 2rem;
  color: white;
  text-align: center;
  max-height: 14px;
  align-items: center;
}

.big-number {
  font-size: 2.9vh;
  color: #ffffff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #d9d9d9;
  text-align: center;
  font-weight: bold;
  border-radius: 100px;
  background: #ac2024;
  padding: 0.05rem 0.6rem;
}

#numerology-table-name td {
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

.center-bold {
  text-align: center;
}

.numerology-questions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#numerology-question {
  margin-top: 10px;
  color: white;
  font-size: 5vh;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-after-question {
  color: white;
  font-size: 4vh;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

#btn-main {
  padding: 0.5rem;
  animation: painting-red 4s infinite ease;
  font-size: 3.5vh;
}

/* colors */

.red {
  background: #b21c21;
}

.gold {
  background: goldenrod;
}

.green {
  background: rgb(36, 120, 36);
}

.orange {
  background: orangered;
}

.blue {
  background: rgb(66, 66, 165);
}

/* scrollbar */

.carousel-slide::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.carousel-slide::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #f5f5f5;
  height: 0.2rem;
}

.carousel-slide::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #48238d;
}

/* temporary */

.container-temporary {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3em;
  font-size: 2em;
}

/* animations */

.white {
  animation: fade-in 1s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.black {
  animation: fade-out 2.5s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes painting-red {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: white;
  }
}

/* adaptations */

@media (max-width: 768px) {
  #cards img {
    height: 12rem;
    width: 10rem;
  }

  .nav-branding {
    font-size: 2rem;
  }

  .container-temporary {
    margin-top: 1em;
    top: 1em;
    position: absolute;
  }

  .content {
    height: 90vh;
  }

  .numerology-name-field {
    flex-direction: column;
  }

  @media (max-width: 500px) {
    #cards img {
      height: 8rem;
      width: 6rem;
      margin: 0.75rem;
    }

    .container-temporary {
      margin-top: 1em;
      top: 1em;
      position: absolute;
    }

    .nav-branding {
      font-size: 3vh;
    }
    .carousel-slide img {
      width: 30vw;
    }

    .nav-menu {
      width: 100%;
    }

    #numerology-result {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 440px) {
  #cards img {
    height: 8rem;
    width: 6rem;
    margin: 0.55rem;
  }

  .container-temporary {
    margin-top: 1em;
    top: 1em;
    position: absolute;
  }
}
