body {
  /* background: url("darkforest.jpg"); */
  background: url("sky.png");
  background-size: cover no-repeat;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  color: white;
}
